@font-face {
    font-family: 'titulo';
    src: url(fontes/Patrician.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-indent: 20px;
   background-color: #EBEAFC ;
   
}


@keyframes main {
    from{ opacity: 0;
    }
    to{ opacity: 1; 
    }
}

header{
    background: #2e0d44 url(Imagens/bg-header.jpg) no-repeat;
    background-size: cover;
    position: fixed ;
    width: 100%;
    height: 80px;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 6px 6px black;

}
.logo{
    height: 4em;
    width: 4em;
    position: absolute;
    left: 10%;
    top: 12%;
    border-radius: 50%;
    animation: backInDown;
    animation-duration: 1s;
}
 nav{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
 }   
 nav>a{
     color:rgb(255, 255, 255) ;
     font-family: 'titulo';
     text-decoration: none;
     font-size: 0.8em;
     animation:backInRight ;
     animation-duration: 1s;
 }
 main{
    background-color: white;
    max-width: 93%;
    min-width: 320px;
    max-height: 95%;
    margin: auto;
  
}
.rouxo{
    color:#800080;
   
}
.preto{
    color:#070707;
}

 a:hover{
     text-decoration: underline;   
 }
.capa{
    max-width: 93%;
    min-width: 320px;
    height:400px;
   margin: auto;
    background-color: #070707;
}
.imgcapa{
   min-width: 100%;
   max-height: 100%;
   display: flex;
   
   justify-content: center;
}

body li{
    color:black
}
.introduçao{
    border: solid #2e0d44;     
    text-align: justify;
    padding: 20px;
    width: 100%;
    right: 1px;
    position: relative;
}
.resumo{
    text-align: center;
    padding: 25px;
}
.olaFreelancer{
    animation: backInLeft ;
    animation-duration: 2s;
}
.boasVindas{
    padding-top: 15px;
    display: block;
    font-size: 1.2em;
    font-weight: 300;  
    animation: backInLeft ;
    animation-duration: 3s;
    text-align: center;
    padding: 25px;
}
.tabela{
    display: flex;
    justify-content: center;
    
}
table{
      font-size: 1.3em;
      color: black;
      border-color:black  ;
       border-style: ridge;
}
th{
    padding: 10px;
     border-color:black  ;
       border-style: ridge;
}
td{
    padding: 2px;
    text-align: center;
}
table img:hover{
    cursor: pointer;
}
ol>p>li>a{
    text-decoration: none;
    color: black;
}
.regras{
    height: auto;
    width: 100%;
    position: relative;
    padding: 40px;
    border:solid  #2e0d44;
    list-style-position: inside;
    columns: 2;
    
}
div>ol>li:hover{
    cursor:pointer; 
}

ol>li{
    padding: 20px;
    font-size: 1em;  
    list-style-position: inside;
}
h1{
    font-family: 'titulo';
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}

h2{
    font-family: 'titulo';
    font-size: xx-large;   
    text-align: center;
    padding: 20px;
}

h3{
    padding: 20px;
    font-family: 'titulo';
    
    display: inline-block;
}
h4{
    padding-left: 30px;
    padding-top: 20px;
    font-family: 'titulo';
}
article>li{
    padding: 25px;
    font-family: 'titulo' ;
    list-style-type:none ;
}
.Mpadrao{
    border: solid #2e0d44; 
    max-width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.djimg{
         max-width: 50%;
         max-height: 50%;
}
audio{
    background-color: #2e0d44;
    border: solid #2e0d44;
    border-radius: 6px;
}
.parabens{

    display: flex;
    justify-content: space-around;
}
.imgParabens{
         background-color: #070707;
         max-width: 50%;
         max-height: 50%;
}
.q{
    background-color: aquamarine;

}
.sociais{
    height: auto;
    padding: 30px;
    max-width: 93%;
    min-width: 320px;
    max-height: 95%;
    background-color:white ;
    border: solid #2e0d44;    
    margin: auto;
}

footer>a{
    color: rgb(255, 255, 255);
}
p{
    padding: 20px;
}
li{ 
    padding: 20px;
}
aside>p>img{
      width: 1em;
    height: 1em;
}

strong{
    font-family: 'titulo';
    font-size: 0.8em;
     padding: 20px;
}
li strong {
    padding: 3px;
}
footer{
    background-color: #2e0d44;
    text-align: center;
    color: rgba(255, 255, 255, 0.692);
    height: 30px;
    flex-shrink: 0;
    padding: 20px;
}