@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Open+Sans:wght@400;700&display=swap');

/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    font-size: 20px;
    list-style: decimal;
}

.paddng {
    padding: 60px 30px;
}

.rouxo {
    color: rgb(128, 0, 128);
}

h1,
h2,
h3,
h4,
strong {
    color: rgb(128, 0, 128);
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: rgb(128, 0, 128);

}

h2 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 35px;

}

h3 {
    font-size: 30px;
    padding-bottom: 30px;
}

h4 {
    padding-bottom: 20px;
    font-size: 20px;
}


:root {
    --header: rgb(46, 13, 68);
    --fonte1: rgb(128, 0, 128);
    --fundo1: rgb(245, 245, 245);
    --fonte2: rgb(255, 255, 255);
    --fundo2: rgb(136, 95, 168);
    --destaque: rgb(52, 21, 65);
}



/* Cabeçalho */

header {
    background: #2e0d44;
    position: fixed;
    width: 100%;
    height: 16%;
    z-index: 100;
    display: flex;
    column-gap: 20%;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 0 19% 0 10%;
}

.transparent {
    background: #2e0d44e6;
}

#navMobile {
    display: none;
}


#burguer {
    display: none;
}


.logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.logo img {
    max-width: 60px;
    max-height: 60px;
}

nav {
    display: flex;
    column-gap: 35px;
}

nav p {
    color: white;
    font-weight: 300;
    font-size: 15px;
    padding: 45px 0;
}

nav a {
    border-bottom: solid transparent;
    color: white;
    text-decoration: none;
}

nav p:hover a {
    border-bottom: solid white 1px;
}

nav p:hover {
    cursor: pointer;
}

.underline {
    border-bottom: solid 1px white;
    transition-duration: 0.7s;
}

#menuEscondido {
    z-index: 100;
    position: fixed;
    background-color: rgba(128, 0, 128, .55);
    list-style-type: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    top: 16%;
    left: 25%;
    width: 500px;
    font-size: 14px;
    font-weight: 600;
    grid-template-columns: 1fr 1fr;
    display: none;
}

#menuEscondido li {
    padding: 8px 16px;
    cursor: pointer;
}

#menuEscondido li:hover {
    background-color: rgb(128, 0, 128);
}

/* Capa e introdução */

.capa {
    width: 100%;
    height: 650px;
}

.capa img {
    width: 100%;
    height: 100%;
}

main {
    background-color: white;
    width: 100%;
}

.intro {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    background-color: rgb(52, 21, 65);
}

.intro p,
strong,
h1 {
    color: white;
}

.intro h1 {
    font-size: 1.8em;
    padding-top: 20px;
}

.intro p {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 40px 40px;
}

/* Regras */

.regras {
    width: 100%;
}

.regras ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10%;
    padding-bottom: 40px;
}

.regras li {
    width: 300px;
    padding-top: 30px;

}

.regrasIntro {
    left: 24%;
    position: relative;
    text-align: center;
    width: 60%;

}

.regrasIntro p {
    padding-top: 15px;
}


/* Tabela */

.tabela {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.introTabela {
    width: 100%;
    font-size: 1em;
    text-align: center;
}

table {
    border-radius: 30px;
    padding: 10px 10px;
    margin: 50px 80px;
    border: solid rgb(128, 0, 128);
}

td {
    padding-left: 12%;
    font-size: 130%;
}

th {
    font-size: 131%;
    color: rgb(128, 0, 128);
    padding: 0 10px 10px 10px;
}

/* Auxilio ao Dj */

#DJ {
    text-align: center;


}

#DJ h2 {
    background-color: #341541;
    margin: 0 0 40px 0;
    color: white;
    height: 150px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.musicas {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.audios {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}





.djImg {
    max-width: 450px;
    height: 300px;
}

.djImg img {
    width: 105%;
    height: 129%;
    border-radius: 30px;
}

audio {
    border-radius: 30px;
    border: rgb(128, 0, 128) solid 4px;
    width: 240px;

}

iframe {
    height: 300px;
    width: 470px;
    border-radius: 20px;
    border: rgb(128, 0, 128) solid 3px;
}

.falas {
    background-color: rgb(245, 245, 245);
    margin-top: 50px;
    width: 100%;
    gap: 20px;
}


.falas h3 {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 30px;

}

.falas ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10% 10%;
    gap: 70px;
    width: 80%;
}

.falas strong {
    color: rgb(128, 0, 128);
}

.contato {
    padding: 10% 7%;
    background-color: #341541;


}

.contato a,
p {
    color: white;
    font-size: 23px;
}

.despedida {
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 79px;
    width: 100%;
}

.sociais {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.sociais a {
    font-size: 0.8em;
}

.insta {
    width: 20px;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.insta img {
    max-width: 100%;
    max-height: 100%;
}

.face {
    width: 20px;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.face img {
    max-width: 100%;
    max-height: 100%;
}

/* Rodapé */
footer {
    background-color: #2e0d44;
    text-align: center;
    color: rgba(255, 255, 255, 0.692);
    padding: 10px;
    font-size: 0.8em;
    width: 100%;
    height: 10%;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
}

footer a {
    color: white;
}

@media screen and (max-width:725px) {

    /* Configurações gerais */
    h2 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #body.cinza #cinza {
        filter: grayscale(1);
    }

    #body.cinza .capa {
        filter: grayscale(1);
    }

    /* Cabeçalho */
    header {
        padding: 0;
        column-gap: 0;
    }

    #navMobile.active {
        width: 220px;
        overflow-y: scroll;
        left: 0px;
    }

    #navMobile {
        background-color: #72128d;
        position: relative;
        top: 200%;
        left: -32px;
        height: 100vh;
        width: 0px;
        display: block;
        padding: 100px 7px 7px 25px;
        overflow-y: hidden;
        transition: 0.7s;
    }

    #navMobile ul {
        padding-left: 15px;

    }

    #navMobile ul>li {
        font-size: 13px;
    }

    #navMobile a {
        text-decoration: none;
        color: white;
    }

    #navMobile li {
        font-size: 15px;
        margin-bottom: 15px;
        padding-bottom: 5px;
        cursor: pointer;
        list-style: none;
        color: white;
        border-bottom: solid white 1px;
    }

    #burguer {
        display: block;
        border: solid white 1px;
        cursor: pointer;
        padding: 20px 40px 20px 40px;
        margin: 0 14% 0 2%
    }

    #burguer img {
        filter: brightness(10);

    }

    .logo {
        height: 60px;
        width: 60px;
        border-radius: 50%;

    }

    .logo img {
        max-width: 60px;
        max-height: 60px;
    }


    nav {
        display: none;
    }

    nav p {
        color: white;
        font-weight: 300;
        font-size: 15px;
        padding: 0 0;
    }

    nav a {
        border-bottom: solid transparent;
        color: white;
        text-decoration: none;
    }

    nav p:hover a {
        border-bottom: solid white 1px;
    }

    nav p:hover {
        cursor: pointer;
    }

    .underline {
        border-bottom: solid 1px white;
        transition-duration: 0.7s;
    }

    #menuEscondido {
        z-index: 100;
        position: fixed;
        background-color: rgba(128, 0, 128, .55);
        list-style-type: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
        top: 16%;
        left: 25%;
        width: 500px;
        font-size: 14px;
        font-weight: 600;
        grid-template-columns: 1fr 1fr;
        display: none;
    }

    #menuEscondido li {
        padding: 8px 16px;
        cursor: pointer;
    }

    #menuEscondido li:hover {
        background-color: rgb(128, 0, 128);
    }

    /* Capa */

    .capa {
        width: 100%;
        height: 650px;
    }

    .capa img {
        width: 100%;
        height: 100%;
    }

    /* Regras */

    .regras ol {
        grid-template-columns: 1fr;
    }

    .regras {
        width: 100%;
    }

    .regras ol {
        columns: 1;
        padding-left: 20%;
        padding-bottom: 40px;

    }

    .regras li {
        width: 300px;
        padding-top: 30px;
        width: 90%;

    }

    .regrasIntro {
        left: 18%;
        padding-top: 10%;
        position: relative;
        text-align: center;
        width: 60%;

    }

    .regrasIntro p {
        padding-top: 15px;
    }

    /* Tabela */

    .tabela {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .introTabela {
        width: 340px;
        text-align: center;
        padding-top: 20px;
        padding-left: 10%;
        font-size: 1em;
    }

    /* Axilio ao Dj */

    .musicas {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding: 40px 0;
    }


    .audios h3 {
        font-size: 1.4em;
        padding-bottom: 20px;
    }

    .musicas {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .audios {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        padding-top: 400px;
    }

    .audios h3 {
        font-size: 1.4em;
        padding-bottom: 20px;
    }

    #DJ h2 {
        margin: 0 0;
    }

    .djImg {
        max-width: 100%;

    }

    .djImg img {
        border: none;
        width: 100%;
        height: 75%;
        border-radius: 0px;
    }

    audio {
        border-radius: 30px;

    }

    iframe {
        height: 300px;
        width: 100%;
        border-radius: 0px;
        margin-bottom: 60px;
        border: none;
    }

    /* Falas */

    .falas h3 {
        text-align: center;
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .falas ul {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 10%;
        gap: 50px;
        width: 96%;
        text-align: center;

    }

    .falas li {
        width: 100%;
    }
}

/* Rodapé */

.despedida p {
    width: 98%;
}

@media screen and (min-width:321px) and (max-width:432px) {

    /* cabeçalho */


    #navMobile ul {
        padding-left: 5px;

    }

    #navMobile ul>li {
        font-size: 9px;
    }


    #navMobile li {
        font-size: 11px;
    }

    #burguer {
        padding: 10px 20px 10px 20px;
        margin: 0 12% 0 12%
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .logo img {
        max-width: 55px;
        max-height: 55px;
    }

    /* Capa/Intro */

    .intro p {
        width: 100%;
    }


    .introTabela {
        width: 340px;
        text-align: center;
        padding-top: 20px;
        padding-left: 10%;
        font-size: 1em;
    }

    .introTabela {
        width: 281px;
        padding-top: 5px;
        padding-left: 7%;
    }

    .capa {
        padding-top: 20%;

    }

    /* Auxilio ao Dj */

    .audios {
        padding-right: 10%;

    }

    /* Tabela */

    td {

        font-size: 62%;
    }

    th {
        font-size: 90%;
    }
}

@media screen and (max-width:320px) {


    /* Capa/Intro */
    .capa {
        padding-top: 30%;
        width: 100%;
        height: 100%;
    }

    .intro {
        left: 5%;
        width: 100%;
    }

    /* Auxilio ao Dj */

    .audios {
        padding-right: 10%;
        padding-top: 410px;
    }

    /* Tabela */

    .introTabela {
        width: 279px;
    }

    td {

        font-size: 62%;
    }

    th {
        font-size: 90%;
    }

}
